@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
#root {
  font-family: 'Instrument Sans', sans-serif;
  background-color: #fbfbfd;
}
/* tailwind.css or global.css */

.filter-pill {
  @apply px-4 py-2 rounded-full border border-gray-300 text-sm font-medium flex items-center gap-2 hover:border-indigo-600 transition;
}
.dropdown {
  @apply absolute mt-3 bg-white rounded-2xl shadow-xl p-4 w-64 z-50;
}

.counter-btn {
  @apply w-8 h-8 border border-gray-400 rounded-full flex items-center justify-center hover:border-gray-600;
}
.count-badge {
  @apply w-5 h-5 rounded-full bg-indigo-500 text-white text-xs flex items-center justify-center;
}
strong{
  @apply text-sky-700
}

.btn-bg-primery{
  background-color: #FFC299;
}
.btn-bg-primery:hover{
  background-color: #ffb47d;
}
button{
  cursor: pointer;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#smooth-wrapper {
  height: 100%;
  
}

#smooth-content {
  min-height: 200vh; /* ensures scrolling exists */
  will-change: transform;
}
nav {
  position: fixed !important;
  z-index: 9999 !important;
  will-change: transform;
}
.swiper-slide-active .slide-image {
  animation: zoomIn 4s ease-in-out forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.12);
  }
}

/* fade + slide effect */
.swiper-slide {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s ease;
}

/* Remove default border */
.react-datepicker {
  border: none !important;
  font-family: inherit;
  padding: 10px 0;
}

/* Header alignment */
.react-datepicker__header {
  background: white !important;
  border-bottom: none;
  padding-top: 20px;
  padding-bottom: 0;
}

/* Month titles */
.react-datepicker__current-month {
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

/* Day names (Su Mo Tu…) */
.react-datepicker__day-name {
  color: #7a7a7a !important;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 12px;
}

/* Regular days */
.react-datepicker__day {
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 0;
  border-radius: 50%;
  font-weight: 500;
  color: #333;
}

/* Selected day (start or end) */
.react-datepicker__day--selected {
  background: #4f46e5 !important;
  border-radius: 50% 0 0 50% !important;
  color: white !important;
  line-height: 3 !important;
  
}

/* Range highlight */
.react-datepicker__day--in-range {
  background: #e7eafe !important;
  color: #111 !important;
  border-radius: 5px !important;
  line-height: 3 !important;
}

/* Range start */
.react-datepicker__day--range-start {
  background: #4f46e5 !important;
  color: white !important;
  border-radius: 50% 0 0 50% !important;
  line-height: 3 !important;
}

/* Range end */
.react-datepicker__day--range-end {
  background: #4f46e5 !important;
  color: white !important;
  border-radius: 0 50% 50% 0 !important;
  line-height: 3 !important;
}
.react-datepicker__day{
  line-height: 3 !important;
}
/* Remove hover effect */
.react-datepicker__day:hover {
  background: #e7eafe !important;
}
.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
  background: #e7eafe !important;
  color: #111 !important;
  border-radius: 5px !important;
  line-height: 3 !important;
}
/* Navigation arrows */
.react-datepicker__navigation {
  top: 22px !important;
  width: 32px;
  height: 32px;
  border-radius: 999px;
}

.react-datepicker__navigation:hover {
  background: #f1f1f1;
  line-height: 3 !important;
}

.tab-underline {
  position: relative;
}

.tab-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1.3px;
  width: 0%;
  background: black;
  transition: width 0.6s ease;
}

.tab-underline.active::after {
  width: 100%;
}

.testimonial .swiper-wrapper{
  overflow-y: visible !important;
  padding: 3rem 0rem;
}

.hero-nav-btn {
  background-size: cover;
  background-repeat: no-repeat;
  height: 246px;
}

.hero-nav-left {
  inset: 50% auto 0% -4px;
  background-position: right;
}

.hero-nav-right {
  inset: 50% -4px 0% auto;
  background-position: left;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
  width:2.5rem !important;
}
/* MOBILE OVERRIDES */
@media (max-width: 768px) {
  .hero-nav-left {
  inset: 66% auto 0% -5px;
}

.hero-nav-right {
  inset: 66% -5px 0% auto;
}

}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
.font-script {
  font-family: "Tangerine", cursive;;
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}

img {
  backface-visibility: hidden;
}
