@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
#root {
  font-family: 'Instrument Sans', sans-serif;
  background-color: #fbfbfd;
}
button{
  cursor: pointer;
}

.swiper-slide-active .slide-image {
  animation: zoomIn 4s ease-in-out forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.12);
  }
}

/* fade + slide effect */
.swiper-slide {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s ease;
}